.container {
    background: url(clock.png) no-repeat;
    margin: auto;
    height: 30vw;
    position: relative;
    width: 30vw;
    background-size: 100%;
    /* display: flex; */
    /* align-items: center; */
    margin-top: 20vh;
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 2vw;
    transform-origin: bottom;
}

#hour {
    top: 26%;
    width: 4.0%;
    left: 47.85%;
    height: 25%;
    opacity: 0.8;
    /* visibility: hidden; */
}

#minute {
    top: 17.79%;
    left: 48.799%;
    /* background: gray; */
    height: 33%;
    width: 2%;
    /* visibility: hidden; */
}

#second{
    top: 12.59%;
    left: 49.305%;
    /* background: green; */
    height: 37%;
    width: 1%;
    /* visibility: hidden; */
}